<div class="wordsearch-container" data-controller="wordsearch"
     data-wordsearch-words-value="<%= words.to_json %>"
     data-wordsearch-rows-value="<%= rows.size %>"
     data-wordsearch-cols-value="<%= cols %>">

  <table class="wordsearch-grid" data-wordsearch-target="grid">
    <tbody>
      <% rows.each_with_index do |row, i| %>
        <tr>
          <% row.each_with_index do |letter, j| %>
            <td data-x="<%= j %>" data-y="<%= i %>" data-letter="<%= letter %>" data-wordsearch-target="cell">
              <%= letter %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <ul class="wordsearch-words" data-wordsearch-target="wordlist">
    <% words.each do |word| %>
      <li data-word="<%= word.upcase %>" data-wordsearch-target="worditem"><%= word.upcase %></li>
    <% end %>
  </ul>
</div>