<!DOCTYPE html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body data-color-mode="light" data-light-theme="light" data-dark-theme="dark">
    <%= render "layouts/flash" %>
    <%= render(Primer::Box.new(classes: "header-wrapper")) do %>
      <%= link_to image_tag("icon_minimal.svg", size: "100"), "/" %>
      <%= render(Primer::Beta::Heading.new(tag: :h1, classes: "page-header")) { @pagehead || "Spellings" } %>
    <% end %>
    
    <%= render(Primer::Alpha::Layout.new(border: :top)) do |component| %>
      <% component.with_main(p: 2) do %>
        <%= render(Primer::Box.new(container: :md, p: 2, ml: -2, classes: "main-container")) do %>
          <%= yield %>
        <% end %>
      <% end %>
      <% component.with_sidebar(p: 2) do %>
        <%= render SidebarComponent.new %>
      <% end %>
    <% end %>
    <% unless Rails.env.production? %>
      <div class="debug-info">
        <h2>Debug Information</h2>
        <%= debug(params) %>
        <%= debug(notice) %>
        <%= debug(flash) %>
        <%= debug(current_user) %>
        <%= debug(Rails.env) %>
      </div>
    <% end %>
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
